a{
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}



a::before{
    content: "";
    background-color: #54b3d6;
    display: block;
    position: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover{
    background-position: 0;
}

a:hover::before{
    width: 100%;
}


body{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 700;
    height: 100vh;
    background-color: #161616;
    place-items: center;
}